
<h1>Friends List</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @friends.each do |friend| %>
     <tr>
      <td> <%= friend.first_name %> </td>
      <td> <%= friend.last_name %> </td>
      <td> <%= friend.email %> </td>
      <td> <%= friend.phone %> </td>
      <td> <%= friend.twitter %> </td>
      <td> <%= friend.user.id %> </td>
      <td> <%= link_to "Show Friend", friend %> | <%= link_to "Edit Friend", edit_friend_path(friend) %> | <%= button_to "Delete Friend", friend_path(friend), form: { data: { confirm: 'Are you sure?' } }, method: :delete %> </td>
     </tr>
     <% end %>
  </tbody>

</table>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
